*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Poppins',sans-serif;
}

body{
  background:#0b1120;
  color:#fff;
  line-height:1.6;
}


nav{
  position:fixed;
  top:0;
  width:100%;
  padding:18px 60px;
  display:flex;
  justify-content:space-between;
  align-items:center;
  background:rgba(11,17,32,.7);
  backdrop-filter:blur(10px);
  z-index:1000;
}

nav ul{
  list-style:none;
  display:flex;
  gap:30px;
}

nav a{
  text-decoration:none;
  color:#e5e7eb;
  transition:.3s;
}

nav a:hover{color:#a5b4fc}


.hero{
  height:100vh;
  background:linear-gradient(rgba(11,17,32,.75),rgba(11,17,32,.85)),
  url('https://images.unsplash.com/photo-1542314831-068cd1dbfeeb') center/cover no-repeat;
  display:flex;
  align-items:center;
  justify-content:center;
  text-align:center;
}

.hero h1{
  font-size:3.8rem;
  letter-spacing:4px;
}

.hero span{color:#a5b4fc}


.booking{
  max-width:1100px;
  margin:-120px auto 80px;
  background:#fff;
  color:#111827;
  border-radius:20px;
  padding:45px;
  box-shadow:0 30px 80px rgba(0,0,0,.45);
}

form{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
  gap:25px;
}

input,select,textarea{
  padding:13px;
  border-radius:12px;
  border:1px solid #c7d2fe;
}

textarea{grid-column:1/-1}

.btn{
  grid-column:1/-1;
  padding:18px;
  border:none;
  border-radius:14px;
  background:linear-gradient(135deg,#6366f1,#4338ca);
  color:#fff;
  cursor:pointer;
}

.success{
  display:none;
  margin-top:20px;
  background:#dcfce7;
  color:#166534;
  padding:15px;
  border-radius:10px;
  text-align:center;
}


.rooms{
  max-width:1200px;
  margin:80px auto;
  padding:0 20px;
}

.room-grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
  gap:35px;
}

.room{
  background:#111827;
  border-radius:18px;
  overflow:hidden;
}

.room img{
  width:100%;
  height:200px;
  object-fit:cover;
}

.room-content{padding:25px}

.price{color:#a5b4fc}

footer{
  text-align:center;
  padding:30px;
  color:#9ca3af;
}